
<div class="container">
  <h2>{{artist.name}}</h2>
  <p>SPOTIFY ARTIST</p>
  <div class="card bg-success" style="width:400px">
    <img class="card-img-top" src="{{artist.images[1].url}}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{artist.name}}</h4>
      <p class="card-text">{{artist.followers}}</p>
      <p class="card-text">{{artist.genres}}</p>
      <p class="card-text">{{artist.type}}</p>
    </div>
  </div>
  <br>
<div class="btn-group">
<button type="button" class="btn btn-primary" (click)="back()">back</button>
</div>
