

<div class="container">
  <h2>ALBUM</h2>
  <p>{{album.name}}</p>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{album.images[0].url}}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{item.name}}</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>
<div class="btn-group">
<a type="button" class="btn btn-primary" (click)="back()">Back</a>
 <a type="button" class="btn btn-success" href = '{{album.external_urls.spotify}}'>View the album on spotify</a>
</div>
